---
layout: default
---

<div class="grade">

   <h2>Course Assessment and Grading Scale</h2>
    <table border="1">
    <tr>
        <th>Category</th>
        <th>CS-410 (%)</th>
        <th>CS-510 (%)</th>
    </tr>
    <tr>
        <td>Assignment</td>
        <td>35%</td>
        <td>35%</td>
    </tr>
    <tr>
        <td>Midterm Exam</td>
        <td>30%</td>
        <td>25%</td>
    </tr>
    <tr>
        <td>Final Project</td>
        <td>30%</td>
        <td>30%</td>
    </tr>
    <tr>
        <td>Participation</td>
        <td>5%</td>
        <td>5%</td>
    </tr>
    <tr>
        <td>Paper Presentation</td>
        <td>0%</td>
        <td>5%</td>
    </tr>
    <tr>
        <td>Overleaf Bonus</td>
        <td>5%</td>
        <td>5%</td>
    </tr>
    </table>

    <br>
    <table border="1">
    <tr>
        <th>Grade</th>
        <th>Range</th>
    </tr>
    <tr>
        <td>A</td>
        <td>A+: 98-100, A: 93-97, A-: 90-92</td>
    </tr>
    <tr>
        <td>B</td>
        <td>B+: 87-89, B: 83-86, B-: 80-82</td>
    </tr>
    <tr>
        <td>C</td>
        <td>C+: 77-79, C: 73-76, C-: 60-72</td>
    </tr>
    <tr>
        <td>F</td>
        <td>F: &lt;60</td>
    </tr>
    </table>
  
</div>
